// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFD000;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #C4C4C4;
$pink: #FF005C;
$purple: #1D0032;
$light-pink: #F9F8F8;

