// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Delius+Unicase:400,700|Roboto:300,400");

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Delius Unicase", "cursive", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Leira-Lite";
  // src: font-url('Leira-Lite.eot');
  src: font-url('Leira-Lite.woff') format('woff'),
       font-url('Leira-Lite.ttf') format('truetype')
}
$my-font: "Leira-Lite";
