// Specific CSS for your home-page

h1 {
  font-family: "Leira-Lite";
  margin: 0;
}

.full-page-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.full-page-banner>a {
  position: absolute;
     bottom: 10px;

}
