<nav class="navbar">
  <%= image_tag('logo.png', height: 60) %>
  <div class="navbar-links">
    <a href="#">Qui nous sommes</a>
    <a href="#">Blog</a>
    <a href="#">Nous contacter</a>
  </div>
</nav>



