<nav class="navbar">
  <!-- <div> -->
  <%= link_to "#homepage" do %>
    <div class="left">
      <%= image_tag('coda-libre-symbole-jaune.png', height: 40) %>
      <p id="logo-header">CODA LIBRE</p>
    </div>
  <% end %>

  <!-- </div> -->
  <div class="navbar-links">
    <a href="#">Qui nous sommes</a>
    <a href="#">Nos actions</a>
    <a href="#">Nous contacter</a>
  </div>
</nav>



