<nav class="navbar">
  <!-- <div> -->
  <%#= image_tag('coda-libre-symbole.png', height: 30) %>
  <%= image_tag('logo.png', height: 60) %>

  <!-- </div> -->
  <div class="navbar-links">
    <a href="#">Qui nous sommes</a>
    <a href="#">Nos actions</a>
    <a href="#">Nous contacter</a>
  </div>
</nav>



