<div class="container-homepage">
  <%= render 'navbar' %>
  <header class="full-page-banner background-homepage" >
    <h1 class="white"> Pour plus de mixité et de solidarité
    dans la tech</h1>
    <a href="#">scroll</a>
  </header>

  <div class="banner-full background-homepage-2">
    <div class="banner-content">
      <div class="width-70">
        <h3>Qui nous sommes</h3>
        <p>CodaLibre est un collectif féminin fondé par des anciennes élèves du Wagon, une formation accélérée de développement web à destination de personnes sans expérience technique préalable. Toutes issues de formations différentes et désireuses de poursuivre dans la tech, nous avons décidé de nous rassembler pour nous soutenir et pouvoir avancer dans cette nouvelle vie avec la sécurité de ne pas être seules.

        Notre ambition est d’offrir un cadre d’échange et d’entraide aux femmes diplômées du Wagon qui recherchent ce même soutien dans leur nouvelle vie professionnelle. Parce qu’il y a trop peu de femmes dans la tech, et que pour être plus nombreuses, il faut se soutenir, échanger, créer ensemble.CodaLibre, c’est un espace d’échange et de soutien bienveillant, sans jugement. Ce sont aussi des événements pour se rencontrer, partager nos expériences, s’associer pour de nouveaux projets. Mais c’estsurtout une communauté de femmes avec des expériences riches et diversifiées qui souhaitent faire bouger les lignes (de code). Parce que tout seul on va plus vite, mais ensemble on va plus loin.</p>
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-3">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nos membres</h3>
        <!-- membres -->
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-2">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nos actions</h3>
        <!-- membres -->
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-3">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nous contacter</h3>
        <!-- membres -->
      </div>
    </div>
  </div>
</div>



<!-- style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%#= image_path("banner-image.jpg") %>);" -->
