<div class="container-homepage">
  <%= render 'navbar' %>
  <header class="full-page-banner background-homepage" >
    <h1 class="white"> Pour plus de mixité et de solidarité
    dans la tech</h1>
    <a href="#">scroll</a>
  </header>

  <div class="banner-full background-homepage-2">
    <div class="banner-content">
      <div class="width-70">
        <div class="banner-title">
          <h3>Qui nous sommes</h3>
          <div class="underline yellow"></div>
        </div>
        <p><strong>CodaLibre</strong> est un <strong>collectif féminin</strong> fondé par des anciennes élèves du <%= link_to "Wagon", "https://www.lewagon.com/fr" %>, une formation accélérée de développement web à destination de personnes sans expérience technique préalable. Toutes issues de formations différentes et désireuses de poursuivre dans la tech, nous avons décidé de nous <strong>rassembler</strong> pour nous soutenir et pouvoir avancer dans cette nouvelle vie avec la sécurité de ne pas être seules.<br>
        <br>
        Notre <strong>ambition</strong> est d’offrir un <strong>cadre d’échange et d’entraide</strong> aux femmes diplômées du Wagon qui recherchent ce même soutien dans leur nouvelle vie professionnelle. <br>
        <br>
        Parce qu’il y a <strong>trop peu de femmes dans la tech</strong>, et que pour être plus nombreuses, il faut se soutenir, échanger, créer ensemble.<br>
        <br>
        <strong>CodaLibre</strong>, c’est un <strong>espace d’échange et de soutien bienveillant</strong>, sans jugement. Ce sont aussi des <strong>événements</strong> pour se rencontrer, partager nos expériences, s’associer pour de nouveaux projets. Mais c’estsurtout une <strong>communauté de femmes</strong> avec des expériences riches et diversifiées qui souhaitent faire bouger les lignes (de code).<br>
        <br>
        <span class="italic">Parce que tout seul on va plus vite, mais ensemble on va plus loin.</span></p>
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-3">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nos membres</h3>
        <!-- membres -->
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-2">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nos actions</h3>
        <!-- membres -->
      </div>
    </div>
  </div>

  <div class="banner-full background-homepage-3">
    <div class="banner-content">
      <div class="width-70">
        <h3>Nous contacter</h3>
        <!-- membres -->
      </div>
    </div>
  </div>
</div>



<!-- style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%#= image_path("banner-image.jpg") %>);" -->
